{% extends 'master.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>
<style>
  /* .body {
    /* font-family: "Lato", sans-serif; */
   
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #8cb0ddb7;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  </style>
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% for x in category %}
    <a href="/products?catid={{x.id}}">{{x.cat_name}}</a>
    <!-- <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a> -->
    {% endfor %}
  </div>
  
  <div id="main">
    <!-- <h3>Categories</h3> -->
   <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <h5>Categories</h5></span>
 
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>


 <section class="secimg">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
               <div class="bimg">


                    <h2 style="text-align: center; margin: 500px; color: rgb(66, 148, 199); font-size: 100px;"></h2>
                </div>
            </div>
        </div>
    </div>
  </section>

   <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
      /* font-size: 14px; */
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      /* height: 100%; */
      min-height: 300px;
      margin-bottom: 20px;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      margin-right: 15px;
    }

    swiper-slide img {
      display: block;
      height: 100%;
      /* height: 100%;
      object-fit: cover; */
    }
  </style>

  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
    slides-per-view="3">
    {% for x in category %}
    <swiper-slide>
      <div style="height: 200px; width: 200px;margin: auto;">
        <img src="/media/{{x.cat_image}}" alt="">
      </div>
    </swiper-slide>
    <!-- <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide> -->
    {% endfor %}
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</div>




{% endblock %}