{% extends 'dashboard/dashboardmaster.html' %}
{% load static %}

{% block title %}
dashboard
{% endblock %}

{% block content %}


<h1 class="demo">Dashboard</h1>
<br>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, ipsam reiciendis qui error quos totam temporibus repellat, repudiandae, a molestias voluptate eaque assumenda officia veniam perferendis asperiores sapiente laboriosam porro! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, ipsam reiciendis qui error quos totam temporibus repellat, repudiandae, a molestias voluptate eaque assumenda officia veniam perferendis asperiores sapiente laboriosam porro!</p>
{% endblock %}